last_compiled.txt
*~
src/
modelsim.ini
transcript
*_library
\#*\#
.\#*
*.wlf
*.dbg

# Ignore system files
*~
.DS_Store
*.swp
*.bak
*.tmp
**/work/

# Vivado specific files
*.str
*.log
*.jou

# This is the Vivado project. We don't want to track this because it
# gets generated with vivado_newproj.tcl
debugfpga/